<%#
Home page - all resources
url: /
Routes:
Data required:
%>

<!DOCTYPE html>
<html lang='en'>
<head>
  <title>All Resources</title>
  <% include partials/_includes %>
</head>

<body>
  <header>
    <div class='header-wrapper'>
      <% include partials/_nav %>
      <% include partials/_search_bar %>
    </div>
  </header>


  <div class='nav-and-search-bar-break'>
    <br />
  </div>

  <main class='main-content-wrapper resources'>
    <% for (var resource in resources) { %>
      <article class="card box">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="http://placehold.it/300x225" alt="">
          </figure>
        </div>

        <div class="card-content">
          <h1><%=resources[resource].title%></h1>
          <div class="content">
            <span class="tag is-dark"><%=resources[resource].topic%></span>
            <strong class="timestamp"><%=resources[resource].date_created.toLocaleDateString()%></strong>
          </div>
        </div>
      </article>
    <% } %>
  </main>


  <footer>
    <% include partials/_footer %>
  </footer>

</body>
</html>


