<%#
Home page - all resources 
Route: /
Data required:
%>

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <% include partials/_includes %>
  </head>
  <body>
    <header>
      <% include partials/_header %>
    </header>


    <h1>THIS WILL BE OUR HOMEPAGE</h1>



  <footer>
    <% include partials/_footer %>
  </footer>
</body>
</html>
