<%#
Login/registration page
url: /login
Routes:
Data required:
%>

<!DOCTYPE html>
<html lang='en'>
<head>
  <title>Login/Sign up</title>
  <% include partials/_includes %>
</head>

<body>
  <header>
    <div class='header-wrapper'>
      <% include partials/_nav %>
      <% include partials/_flash %>
    </div>
  </header>


  <div class='nav-bar-break'>
    <br />
  </div>

  <main class='main-content-wrapper'>

    <div class='box profile login'>
      <div class='media-content'>
        <div class='content'>
          <div class='field'>
            <form method='POST' action='/login' >
              <h1>Already a member? Log in!</h1>
              <label class='label' for='email_login'>Enter Email:</label>
              <input class='input' id='email_login' type='email' name='email_login' placeholder='Email...'>

              <label class='label' for='password_login'>Enter Password:</label>
              <input class='input' id='password_login' type='password' name='password_login' placeholder='Password...'>

              <input class='button is-primary is-outlined' type='submit' value='Submit'>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class='box profile sign-up'>

      <article class='media'>
        <div class='media-left'>
          <figure class='image is-3x4'>
            <img src='https://www.webpagefx.com/data/marketing-persona-generator/img/placeholder.png' alt='Image'>
          </figure>
          <input class='button is-primary is-outlined' id='browse-for-photo' type='submit' value='Browse for Photo'>
        </div>

        <div class='media-content'>
          <div class='content'>
            <div class='field'>
              <form method='POST' action='/register' >
                <h1>Want to join? Sign up here!</h1>
                <label class='label' for='email_register'>Enter Email:</label>
                <input class='input' id='email_register' type='email' name='email_register' placeholder='Email...'>

                <label class='label' for='username_register'>Create Username:</label>
                <input class='input' id='username_register' type='text' name='username_register' placeholder='Username...'>

                <label class='label' for='password_register'>Enter Password:</label>
                <input class='input' id='password_register' type='password' name='password_register' placeholder='Password...'>

                <label class='label'>Edit Profile Bio: </label>
                <p class='control'>
                  <textarea class='textarea' placeholder="This is your profile bio for your profile page. One day you'll be able to save this and your profile picture. Today is not that day..."></textarea>
                </p>

                <input class='button is-primary is-outlined' type='submit' value='Submit'>
              </form>
            </div>
          </div>
        </div>

      </article>
    </div>

  </main>

  <footer>
    <% include partials/_footer %>
  </footer>

</body>
</html>
