<%#
Create new resource page
url: /resources/new
Routes:
Data required:
%>

<!DOCTYPE html>
<html lang='en'>
<head>
  <title>New Resource</title>
  <% include partials/_includes %>
</head>

<body>
  <header>
    <div class='header-wrapper'>
      <% include partials/_nav %>
    </div>
  </header>

  <div class='nav-bar-break'>
  </div>

  <main class='main-content-wrapper'>

    <div class='box profile new-resource'>
      <article class='media'>
        <div class='media-left'>
          <figure class='image is-3x4'>
            <img src='https://pbs.twimg.com/profile_images/801235337938894848/xj154Cpo.jpg' alt='Image'>
          </figure>
        </div>

        <div class='media-content'>
          <div class='content'>
            <div class='field'>
              <form method='POST' action='/resources/create' >
                <h1>Create a new resource</h1>
                <label class='label' for='title'>Title:</label>
                <input class='input' type='text' name='title' placeholder='Title...'>

                <label class='label' for='url'>URL:</label>
                <input class='input' type='text' name='url' placeholder='URL...'>

                <label class='label' for='description'>Description:</label>
                <p class='control'>
                  <textarea class='textarea' type='text' name='description' placeholder='Description of resource...'></textarea>
                </p>

                <label class='label'>Topic:</label>
                <div class='select'>
                  <select name='topic'>
                    <option>Math</option>
                    <option>Geography</option>
                    <option>Science</option>
                    <option>History</option>
                  </select>
                </div>

                <div>
                  <input class='button is-primary is-outlined' type='submit' value='Submit'>
                </div>
              </form>
            </div>
          </div>
        </div>
      </article>
    </div>
  </main>

  <footer>
    <% include partials/_footer %>
  </footer>

</body>
</html>
