<!DOCTYPE html>
<html lang="en">
  <head>
    <title>New Resource</title>

    <link rel="stylesheet" href="../vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="../vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="../styles/css/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <h1>Create New Resource</h1>
    <form method="POST" action="/resources/create">
      <input type="text" name="title" placeholder="Title">
      <input type="text" name="url" placeholder="Resource URL">
      <textarea name="description" placeholder="Description"></textarea>
      <input type="text" name="topic" placeholder="Topic">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
