<%#
Edit profile page
Route: /users/:user_id/editprofile
Data required:
%>

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Edit Profile</title>
    <% include partials/_includes %>
  </head>
  <body>
    <header>
      <% include partials/_header %>
    </header>

    <h1>View Resource</h1>
    <div>RESOURCE PLACEHOLDER</div>
    <span><button type="button">Like</button></span><span>Rate: ***** </span><span><button type="button">Visit</button></span>
    <h4>Submitted by username</h4>
    <p>Description</p>
    <h4>topic: test</h4>
      <form method="POST" action="/resources/:resource_id">
        <textarea name="description" placeholder="Comment"></textarea>
        <input type="submit" value="Submit">
      </form>
  <footer>
    <% include partials/_footer %>
  </footer>
</body>
</html>
