<%#
Edit profile page
url: /users/:user_id/editprofile
Routes:
Data required:
%>

<!DOCTYPE html>
<html lang='en'>
<head>
  <title>Edit Profile</title>
  <% include partials/_includes %>
</head>

<body>
  <header>
    <div class='header-wrapper'>
      <% include partials/_nav %>
      <%# TODO add? include partials/_flash %>
    </div>
  </header>


  <div class='nav-bar-break'>
    <br />
  </div>

  <main class='main-content-wrapper'>

    <div class='box edit-profile'>
      <article class='media'>
        <div class='media-left'>
          <figure class='image is-3x4'>
            <img src='http://orig01.deviantart.net/06f7/f/2014/101/7/9/profile_picture_by_happy_fingers-d7e2t77.jpg' alt='Image'>
          </figure>
        </div>

        <div class='media-content'>
          <div class='content'>
            <h1> <%= user.username %> </h1>
            <h4> <%= user.email %> </h4>

            <div class='field'>
              <label class='label'>Reset Password: </label>
              <form method='POST' action='/users/:user_id/editprofile'>
                <input class='input' type='password' name='password' placeholder='insert new password'>

              <label class='label'>Edit Profile Bio: </label>
              <p class='control'>
                <textarea class='textarea' placeholder="This is your profile bio for your profile page. One day you'll be able to change this and your profile picture."></textarea>
              </p>

              <input class='button is-primary is-outlined' type='submit' value='Update'>
            </form>
            </div>
          </div>
        </div>

      </article>
    </div>

  </main>

  <footer>
    <% include partials/_footer %>
  </footer>

</body>
</html>
