<%#
Edit profile page
url: /users/:user_id/editprofile
Routes:
Data required:
%>

<!DOCTYPE html>
<html lang='en'>
<head>
  <title>Edit Profile</title>
  <% include partials/_includes %>
</head>

<body>
  <header>
    <div class='header-wrapper'>
      <% include partials/_nav %>
      <% include partials/_flash %>
    </div>
  </header>


  <div class='nav-bar-break'>
    <br />
  </div>

  <main class='main-content-wrapper'>





    <div class="user_credentials">
    <p>
      Username: <%= user.username %>
    </p>
    <p>
      Email: <%= user.email %>
    </p>
    <p>
      Password: **********
    </p>
    </div>
    <form method='POST' action='/users/:user_id/editprofile' style='display:inline-block'>
      <input type='password' name='password' placeholder='insert new password'>
      <input type='submit' value='Update'>
    </form>






  </main>

  <footer>
    <% include partials/_footer %>
  </footer>

</body>
</html>
