<%#
My Resources page
Route: /users/:user_id
Data required:
%>

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Resources</title>
    <% include partials/_includes %>
  </head>
  <body>
    <header>
      <% include partials/_header %>
      <% include partials/_filterheader %>
    </header>

    this will show all the resources owned/liked by the user

    <%=user.name%>

  <footer>
    <% include partials/_footer %>
  </footer>
</body>
</html>
