.edit-profile
  width: 100%
  margin: 0 10px

  figure.image
    margin-right: 10px

  .media-content
    height: 300px
    h1
      margin-bottom: 10px

    .field
      form
        .input
          margin-bottom: 20px

        textarea.textarea
          resize: none
          min-height: auto
          height: 100%
          margin-bottom: 20px

        input.button
          float: right
