// @import ../../node_modules/bulma/sass/utilities/variables.sass
@import _header
@import _index
@import ../../node_modules/bulma/bulma

body
  background-color: #EEE

  .nav-and-search-bar-break
    margin-top: 173px

  .nav-bar-break
    margin-top: 76px

  h1
    color: #244751
