<!-- Header partial -->
<nav class="nav">

    <div class="columns">
      <div class="column">
        <p class="control">
          <span class="select">
            <select>
              <%# TODO: make a list of topics and here have a 'for each' to list all the different topics (including all)%>
              <option class="topic">All Topics</option>
              <option value="math" class="topic">Math</option>
              <option value="geography" class="topic">Geography</option>
              <option value="science" class="topic">Science</option>
              <option value="history" class="topic">History</option>
            </select>
          </span>
        </p>
      </div>

      <span class="test-topic nav-item" data-topic="math">
        Math
      </span>
      <span class="test-topic nav-item" data-topic="geography">
        Geography
      </span>

      <div class="column">
        <p class="control">
          <span class="select">
            <select>
              <%# TODO: convert this to search field %>
              <option>Search</option>
            </select>
          </span>
        </p>
      </div>

      <div class="column">
        <div class="field">
          <p class="control">
            <label class="checkbox">
              <input type="checkbox">
              My Likes
            </label>
          </p>
        </div>
      </div>

      <div class="column">
        <div class="field">
          <p class="control">
            <label class="checkbox">
              <input type="checkbox">
              My Posts
            </label>
          </p>
        </div>
      </div>


    </div>


</nav>
