<!-- Header partial -->
<nav class='nav' id='filter-header'>

    <div class='columns'>
      <div class='column'>
        <p class='control'>
          <span class='button' id='topic-filter-button'>Filter by Topic</span>
        </p>
      </div>

      <div class='field column is-two-thirds' id='search-button'>
        <p class='control has-icon'>
          <input class='input' type='text' name='search' placeholder='Search'>
          <span class='icon is-small'>
            <i class='fa fa-search'></i>
          </span>
        </p>
      </div>

    </div>
</nav>
