<!-- Header partial -->
<nav class="nav">

    <div class="columns">
      <div class="column">
        <p class="control">
          <span class="select">
            <select>
              <%# TODO: make a list of topics and here have a 'for each' to list all the different topics (including all)%>
              <option>All Topics</option>
              <option>Math</option>
              <option>Geography</option>
              <option>Science</option>
              <option>History</option>
            </select>
          </span>
        </p>
      </div>

      <div class="column">
        <p class="control">
          <span class="select">
            <select>
              <%# TODO: convert this to search field %>
              <option>Search</option>
            </select>
          </span>
        </p>
      </div>

      <div class="column">
        <div class="field">
          <p class="control">
            <label class="checkbox">
              <input type="checkbox">
              My Likes
            </label>
          </p>
        </div>
      </div>

      <div class="column">
        <div class="field">
          <p class="control">
            <label class="checkbox">
              <input type="checkbox">
              My Posts
            </label>
          </p>
        </div>
      </div>


    </div>


</nav>
