<!-- Header partial -->
<nav class="filter-header nav">

    <div class="columns">
      <div class="column">
        <p class="control">
          <span class="button ">Filter by Topic</span>
        </p>

      </div>

      <div class="column">
        <p class="control">
          <p class="control">
            <input type="text" name="search" placeholder="Search..">
          </p>
        </p>
      </div>

      <div class="column">
        <div class="field">
          <p class="control">
            <label class="checkbox">
              <input type="checkbox">
              My Likes
            </label>
          </p>
        </div>
      </div>

      <div class="column">
        <div class="field">
          <p class="control">
            <label class="checkbox">
              <input type="checkbox">
              My Posts
            </label>
          </p>
        </div>
      </div>


    </div>


</nav>
