<!-- Footer partial -->
<nav class='nav footer'>
  <div class='nav-center'>
      <p>
        Chalkboard &copy; 2017
      </p>
      <p>
        Take a look at the full repo on <a href="https://kpowch.github.io/midterm-project/">github</a>
      </p>
  </div>
</nav>
