<!-- Header partial -->
<nav class="header nav">
  <div class="nav-left">
    <a class="nav-item">
      <img src="https://s-media-cache-ak0.pinimg.com/originals/9e/9f/77/9e9f7772d58e2fecc968708c8532bce9.jpg" alt="Chalkboard logo">
    </a>
    <% if (user.username.length > 0) { %>
      <p class="nav-item">
        Welcome <%=user.username%>!
      </p>
    <% } else { %>
      <p class="nav-item">
        Welcome Guest!
      </p>
    <% } %>
  </div>

  <div class="nav-center">
  </div>

  <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
  <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
  <span class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </span>

  <!-- This "nav-menu" is hidden on mobile -->
  <!-- Add the modifier "is-active" to display it on mobile -->
  <div class="nav-right nav-menu">
    <% if (user.username) { %>
      <a class="nav-item" href="/">
        Home
      </a>
      <a class="nav-item" href="/users/<%= user.userID %>">
        My Resources
      </a>

      <a class="nav-item">
        <i class="fa fa-plus nav-item"></i>
      </a>

      <a class="nav-item">
        <i class="fa fa-cog nav-item" aria-hidden="true"></i>
      </a>%>

      <a class="nav-item">
        <i class="fa fa-user nav-item" aria-hidden="true"></i>
      </a>

      <span class="nav-item">
          <form method='GET' action="/logout">
            <input class='button is-primary' type='submit' value='Logout'>
          </form>
      </span>
    <% } else { %>
      <span class="nav-item">
        <a class="button is-primary" href="/login">
          <span>Login</span>
        </a>
      </span>

      <span class="nav-item">
        <a class="button is-primary" href="/login">
          <span>Register</span>
        </a>
      </span>
    <% } %>
  </div>
</nav>
