<!-- Nav bar partial -->
<nav class='nav bar' id='nav-bar'>

  <div class='nav-left'>
    <div class='nav-item is-tab'>
      <span class='logo'>Chalkboard</span>
    </div>

    <% if (user) { %>
      <p class='nav-item'>
        Welcome <%=user.username%>!
      </p>
    <% } %>
  </div>

  <div class='nav-right'>
    <% if (user) { %>
      <a class="nav-item is-tab" href='/'>
        Home
      </a>

      <a class="nav-item is-tab" href='/users/<%= user.userID %>'>
        My Resources
      </a>

      <a class="nav-item is-tab" href='/resources/new'>
        <i class='fa fa-plus nav-item'></i>
      </a>

      <a class="nav-item is-tab" href='/users/<%= user.userID %>/editprofile'>
        <i class='fa fa-user nav-item'></i>
      </a>

      <a class="nav-item is-tab" href='/users/<%= user.userID %>/editprofile'>
        <form class="nav-item is-tab" method='POST' action='/logout'>
          <input class='button is-primary' type='submit' value='Logout'>
        </form>
      </a>

    <% } else { %>
      <span class="nav-item">
        <a class="button" href="/login">
          Log in
        </a>
        <a class="button is-primary" href="/login">
          Sign up
        </a>
      </span>
    <% } %>
  </div>

</nav>
