<nav class='nav' id='search-bar'>

  <div class='columns'>
    <div class='column'>

    <form class='filter-form'>
        <label><input checked type='checkbox' name='topic' value='math'>Math</label>
        <label><input checked type='checkbox' name='topic' value='geography'>Geography</label>
        <label><input checked type='checkbox' name='topic' value='science'>Science</label>
        <label><input checked type='checkbox' name='topic' value='history'>History</label>
        <button class='button filter' type='button'>Filter</button>
        <button class='button select-all' type='button'>Select All</button>
        <button class='button deselect-all' type='button'>Deselect All</button>
    </form>

    </div>
  </div>
</nav>
