<nav class='nav' id='search-bar'>

  <div class='columns'>
    <div class='column'>

    <form class='filter-form'>
        <label><input type='checkbox' value='math' name='topic'>Math</label>
        <label><input type='checkbox' value='geography' name='topic'>Geography</label>
        <label><input type='checkbox' value='science' name='topic'>Science</label>
        <label><input type='checkbox' value='history' name='topic'>History</label>
        <button class='button filter' type='button'>Filter</button>
        <button class='button select-all' type='button'>Select All</button>
        <button class='button deselect-all' type='button'>Deselect Al</button>
    </form>

    </div>
  </div>
</nav>
